# Avaliando
Use o espaço abaixo para explorar os arquivos `winequality-red.csv` e `winequality-white.csv` para responder as perguntas do teste abaixo.

In [1]:
import pandas as pd

df_white = pd.read_csv("winequality-white.csv", delimiter=";")
print("white")
display(df_white.head(2))

df_red = pd.read_csv("winequality-red.csv", delimiter=";")
print("red")
display(df_red.head(2))

white

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

red

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur-dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [2]:
# número de amostras e número de colunas em cada conjunto de dados

print("White possui {0} amostras e {1} colunas".format(
        df_white.shape[0], df_white.shape[1] ))

print("Red possui {0} amostras e {1} colunas".format(
        df_red.shape[0], df_red.shape[1] ))

White possui 4898 amostras e 12 colunas
Red possui 1599 amostras e 12 colunas

In [3]:
# recursos com valores faltantes
df_white.isnull().any()

fixed_acidity           False
volatile_acidity        False
citric_acid             False
residual_sugar          False
chlorides               False
free_sulfur_dioxide     False
total_sulfur_dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [4]:
df_red.isnull().any()

fixed_acidity           False
volatile_acidity        False
citric_acid             False
residual_sugar          False
chlorides               False
free_sulfur_dioxide     False
total_sulfur-dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [5]:
# linhas duplicadas no conjunto de dados sobre vinho branco
print(" Duplicadas tinto: {0} \n Duplicadas branco: {1}".format(
        df_red.duplicated().sum(), df_white.duplicated().sum()))

 Duplicadas tinto: 240
 Duplicadas branco: 937

In [6]:
# número de valores únicos para qualidade em cada conjunto de dados
print(" Valores únicos para qualidade tinto: {0} \n Valores Únicos para qualidade Branco: {1}".format(
        df_red['quality'].nunique(), df_white['quality'].nunique()))

 Valores únicos para qualidade tinto: 6
 Valores Únicos para qualidade Branco: 7

In [7]:
#densidade média do conjunto de dados sobre vinho tinto
print(" Densidade média branco: {0} \n Densidade média tinto: {1}".format(
        df_white["density"].mean(), df_red["density"].mean()))

 Densidade média branco: 0.9940273764801959
 Densidade média tinto: 0.996746679174484