<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lendo-os-Dados-de-Filmes" data-toc-modified-id="Lendo-os-Dados-de-Filmes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Lendo os Dados de Filmes</a></span></li><li><span><a href="#Carregando-Parâmetros" data-toc-modified-id="Carregando-Parâmetros-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Carregando Parâmetros</a></span></li><li><span><a href="#Função-Custo" data-toc-modified-id="Função-Custo-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Função Custo</a></span></li><li><span><a href="#Gradient-Descent" data-toc-modified-id="Gradient-Descent-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Gradient Descent</a></span><ul class="toc-item"><li><span><a href="#Gradient-Descent-2ª-Tentativa" data-toc-modified-id="Gradient-Descent-2ª-Tentativa-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Gradient Descent 2ª Tentativa</a></span></li><li><span><a href="#Gradient-Descent-3ª-Tentativa" data-toc-modified-id="Gradient-Descent-3ª-Tentativa-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Gradient Descent 3ª Tentativa</a></span></li><li><span><a href="#Gradient-Descent-4ª-Tentativa" data-toc-modified-id="Gradient-Descent-4ª-Tentativa-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Gradient Descent 4ª Tentativa</a></span></li></ul></li><li><span><a href="#Regularização" data-toc-modified-id="Regularização-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Regularização</a></span></li></ul></div>

Este notebook tem por objetivo alocar o desenvolvimento da parte 2 do exercício 8: aplicação do algoritimo de ```Filtro Colaborativo``` em um Sistema de Recomendação.

## Lendo os Dados de Filmes

Em um primeiro momento, iremos ler um dataset ```Y``` de dimensões ```1682x943``` indicando a presença de 1682 filmes avaliados por 943 usuários.

Adicionalmente, um conjunto de dados ```R``` contendo o parâmetro ```r(i, j)``` que, por sua vez, indica se o usuário j avaliou o filme i (r(i, j)=1)

In [1]:
% Lendo dados
load('ex8_movies.mat')

In [2]:
% Verificando dataset de filmes
size(Y)

ans =

   1682    943

In [3]:
% Verificando avaliações dos 10 primeiros filmes pelos 10 primeiros usuários
Y(1:10, 1:10)

ans =

   5   4   0   0   4   4   0   0   0   4
   3   0   0   0   3   0   0   0   0   0
   4   0   0   0   0   0   0   0   0   0
   3   0   0   0   0   0   5   0   0   4
   3   0   0   0   0   0   0   0   0   0
   5   0   0   0   0   0   0   0   5   0
   4   0   0   0   0   2   5   3   4   4
   1   0   0   0   0   4   5   0   0   0
   5   0   0   0   0   4   5   0   0   4
   3   2   0   0   0   0   4   0   0   0

In [4]:
% Verificando matriz R
size(R)

ans =

   1682    943

In [5]:
% Primeiros elementos
R(1:10, 1:10)

ans =

  1  1  0  0  1  1  0  0  0  1
  1  0  0  0  1  0  0  0  0  0
  1  0  0  0  0  0  0  0  0  0
  1  0  0  0  0  0  1  0  0  1
  1  0  0  0  0  0  0  0  0  0
  1  0  0  0  0  0  0  0  1  0
  1  0  0  0  0  1  1  1  1  1
  1  0  0  0  0  1  1  0  0  0
  1  0  0  0  0  1  1  0  0  1
  1  1  0  0  0  0  1  0  0  0

Lembrando que r(i, j)=1 indica que o usuário j avaliou o filme i;

Consequentemente, r(i, j)=0 indica que o usuário j não avaliou o filme i;

In [6]:
% Verificando estatísticas do filme 1: Toy Story
toy_story = Y(1, :)

toy_story =

 Columns 1 through 20:

   5   4   0   0   4   4   0   0   0   4   0   0   3   0   1   5   4   5   0   3

 Columns 21 through 40:

   5   0   5   0   5   3   0   0   0   0   0   0   0   0   0   0   0   5   0   0

 Columns 41 through 60:

   4   5   5   4   5   0   0   0   2   0   0   0   0   4   0   4   5   5   2   0

 Columns 61 through 80:

   0   2   3   4   3   3   3   0   0   4   0   4   2   0   4   0   5   0   4   0

 Columns 81 through 100:

   4   4   4   2   0   0   0   0   5   0   0   4   5   4   5   5   4   0   4   0

 Columns 101 through 120:

   3   3   0   0   0   4   0   4   4   0   0   0   0   0   0   0   4   0   0   4

 Columns 121 through 140:

   4   0   0   3   4   0   0   4   0   5   4   0   0   5   0   0   3   4   0   0

 Columns 141 through 160:

   3   0   0   4   3   0   0   4   0   4   5   0   0   0   0   0   5   4   0   4

 Columns 161 through 180:

   0   4   0   0   0   0   0   5   0   0   0   0   0   3   0   0   3   4   0   0

 Columns 181 through 200:

   3   4   0   4   0   0   0   0   5   0   0   0   4   4   0   0   0   4   1   5

 Columns 201 through 220:

   3   3   3   2   0   0   0   0   5   5   0   0   2   0   0   4   0   0   0   0

 Columns 221 through 240:

   0   4   4   0   0   0   0   0   0   5   3   4   0   3   4   0   0   0   0   0

 Columns 241 through 260:

   0   4   4   4   0   4   4   3   4   4   4   5   5   3   0   5   0   0   0   0

 Columns 261 through 280:

   0   3   5   0   5   0   0   3   0   0   3   0   0   4   4   5   4   0   3   4

 Columns 281 through 300:

   0   0   0   0   0   4   5   0   3   5   5   4   2   5   4   5   3   5   3   0

 Columns 301 through 320:

   4   0   5   0   5   0   5   4   0   0   4   5   4   5   0   0   0   0   0   3

 Columns 321 through 340:

   0   2   0   5   2   3   4   0   0   5   1   4   0   0   0   3   0   3   5   5

 Columns 341 through 360:

   0   0   5   3   3   0   4   4   0   4   0   0   0   0   0   0   5   0   4   3

 Columns 361 through 380:

   0   0   2   0   4   0   0   0   0   0   4   0   0   4   0   0   0   4   4   4

 Columns 381 through 400:

   5   0   0   0   0   0   4   5   4   5   0   0   3   4   5   4   0   5   4   0

 Columns 401 through 420:

   2   5   4   0   0   4   4   0   0   0   4   4   0   0   0   5   4   0   4   0

 Columns 421 through 440:

   0   3   0   1   2   0   0   0   3   0   0   2   0   4   5   0   0   4   0   0

 Columns 441 through 460:

   5   0   0   0   3   0   3   0   0   4   0   0   0   3   4   2   4   4   4   2

 Columns 461 through 480:

   0   0   1   0   4   0   4   5   0   3   4   5   0   0   0   0   0   4   5   0

 Columns 481 through 500:

   0   0   4   5   0   4   5   3   0   3   0   0   3   3   4   0   4   0   0   4

 Columns 501 through 520:

   0   0   5   0   3   0   0   5   0   0   0   4   0   5   0   0   3   4   0   0

 Columns 521 through 540:

   2   0   5   0   4   5   0   0   0   0   0   5   4   5   3   5   2   0   0   3

 Columns 541 through 560:

   4   4   0   0   5   0   0   4   5   3   0   3   3   3   0   0   0   0   0   4

 Columns 561 through 580:

   2   2   0   0   0   0   3   0   4   0   0   0   0   0   0   4   5   0   4   3

 Columns 581 through 600:

   0   4   0   0   0   0   0   4   0   0   0   4   3   0   0   0   3   0   4   0

 Columns 601 through 620:

   0   4   0   0   4   5   0   0   1   4   0   4   4   5   0   0   0   4   0   5

 Columns 621 through 640:

   3   3   0   4   0   0   0   0   0   4   0   3   0   3   4   3   4   0   0   0

 Columns 641 through 660:

   0   5   5   0   0   0   0   5   5   3   0   0   4   4   2   0   3   4   0   3

 Columns 661 through 680:

   5   0   4   4   4   0   0   0   5   0   0   0   0   4   0   5   4   5   3   4

 Columns 681 through 700:

   0   4   0   4   0   0   0   0   3   4   5   4   0   0   0   0   5   4   3   0

 Columns 701 through 720:

   4   0   4   0   5   4   0   5   4   4   0   0   0   3   5   5   0   0   0   0

 Columns 721 through 740:

   5   0   3   0   0   4   3   0   0   4   2   0   2   0   4   0   0   5   0   0

 Columns 741 through 760:

   0   4   0   4   2   4   5   4   4   0   3   0   0   0   0   4   4   0   5   0

 Columns 761 through 780:

   1   0   4   4   0   0   5   5   4   5   5   0   3   0   0   0   4   0   4   0

 Columns 781 through 800:

   0   0   0   0   4   4   0   3   3   3   0   4   4   4   4   2   0   4   0   4

 Columns 801 through 820:

   0   0   0   5   4   4   4   0   0   0   0   0   0   0   5   0   4   0   0   0

 Columns 821 through 840:

   5   4   4   0   0   4   0   0   4   4   4   0   0   0   3   0   0   5   4   0

 Columns 841 through 860:

   0   0   3   0   0   0   3   0   0   0   0   4   0   3   0   0   0   0   0   0

 Columns 861 through 880:

   0   0   0   5   1   0   4   4   0   5   0   3   0   0   0   0   0   0   4   4

 Columns 881 through 900:

   4   5   3   0   5   4   5   0   3   4   0   5   5   4   4   4   5   0   3   0

 Columns 901 through 920:

   5   5   3   0   0   0   5   0   0   4   0   0   2   0   0   4   3   3   4   0

 Columns 921 through 940:

   3   5   3   5   0   0   5   0   3   3   0   4   3   2   3   4   0   4   0   0

 Columns 941 through 943:

   5   0   0

In [7]:
% Estatística
toy_story_rating = mean(Y(1, :))

toy_story_rating =  1.8590

Este valor não é correto pois não levamos em consideração a presença ou não de avaliação r(i,j)=1

In [8]:
% Todos os usuários que avaliaram Toy Story
R(1, :)

ans =

 Columns 1 through 26:

  1  1  0  0  1  1  0  0  0  1  0  0  1  0  1  1  1  1  0  1  1  0  1  0  1  1

 Columns 27 through 52:

  0  0  0  0  0  0  0  0  0  0  0  1  0  0  1  1  1  1  1  0  0  0  1  0  0  0

 Columns 53 through 78:

  0  1  0  1  1  1  1  0  0  1  1  1  1  1  1  0  0  1  0  1  1  0  1  0  1  0

 Columns 79 through 104:

  1  0  1  1  1  1  0  0  0  0  1  0  0  1  1  1  1  1  1  0  1  0  1  1  0  0

 Columns 105 through 130:

  0  1  0  1  1  0  0  0  0  0  0  0  1  0  0  1  1  0  0  1  1  0  0  1  0  1

 Columns 131 through 156:

  1  0  0  1  0  0  1  1  0  0  1  0  0  1  1  0  0  1  0  1  1  0  0  0  0  0

 Columns 157 through 182:

  1  1  0  1  0  1  0  0  0  0  0  1  0  0  0  0  0  1  0  0  1  1  0  0  1  1

 Columns 183 through 208:

  0  1  0  0  0  0  1  0  0  0  1  1  0  0  0  1  1  1  1  1  1  1  0  0  0  0

 Columns 209 through 234:

  1  1  0  0  1  0  0  1  0  0  0  0  0  1  1  0  0  0  0  0  0  1  1  1  0  1

 Columns 235 through 260:

  1  0  0  0  0  0  0  1  1  1  0  1  1  1  1  1  1  1  1  1  0  1  0  0  0  0

 Columns 261 through 286:

  0  1  1  0  1  0  0  1  0  0  1  0  0  1  1  1  1  0  1  1  0  0  0  0  0  1

 Columns 287 through 312:

  1  0  1  1  1  1  1  1  1  1  1  1  1  0  1  0  1  0  1  0  1  1  0  0  1  1

 Columns 313 through 338:

  1  1  0  0  0  0  0  1  0  1  0  1  1  1  1  0  0  1  1  1  0  0  0  1  0  1

 Columns 339 through 364:

  1  1  0  0  1  1  1  0  1  1  0  1  0  0  0  0  0  0  1  0  1  1  0  0  1  0

 Columns 365 through 390:

  1  0  0  0  0  0  1  0  0  1  0  0  0  1  1  1  1  0  0  0  0  0  1  1  1  1

 Columns 391 through 416:

  0  0  1  1  1  1  0  1  1  0  1  1  1  0  0  1  1  0  0  0  1  1  0  0  0  1

 Columns 417 through 442:

  1  0  1  0  0  1  0  1  1  0  0  0  1  0  0  1  0  1  1  0  0  1  0  0  1  0

 Columns 443 through 468:

  0  0  1  0  1  0  0  1  0  0  0  1  1  1  1  1  1  1  0  0  1  0  1  0  1  1

 Columns 469 through 494:

  0  1  1  1  0  0  0  0  0  1  1  0  0  0  1  1  0  1  1  1  0  1  0  0  1  1

 Columns 495 through 520:

  1  0  1  0  0  1  0  0  1  0  1  0  0  1  0  0  0  1  0  1  0  0  1  1  0  0

 Columns 521 through 546:

  1  0  1  0  1  1  0  0  0  0  0  1  1  1  1  1  1  0  0  1  1  1  0  0  1  0

 Columns 547 through 572:

  0  1  1  1  0  1  1  1  0  0  0  0  0  1  1  1  0  0  0  0  1  0  1  0  0  0

 Columns 573 through 598:

  0  0  0  1  1  0  1  1  0  1  0  0  0  0  0  1  0  0  0  1  1  0  0  0  1  0

 Columns 599 through 624:

  1  0  0  1  0  0  1  1  0  0  1  1  0  1  1  1  0  0  0  1  0  1  1  1  0  1

 Columns 625 through 650:

  0  0  0  0  0  1  0  1  0  1  1  1  1  0  0  0  0  1  1  0  0  0  0  1  1  1

 Columns 651 through 676:

  0  0  1  1  1  0  1  1  0  1  1  0  1  1  1  0  0  0  1  0  0  0  0  1  0  1

 Columns 677 through 702:

  1  1  1  1  0  1  0  1  0  0  0  0  1  1  1  1  0  0  0  0  1  1  1  0  1  0

 Columns 703 through 728:

  1  0  1  1  0  1  1  1  0  0  0  1  1  1  0  0  0  0  1  0  1  0  0  1  1  0

 Columns 729 through 754:

  0  1  1  0  1  0  1  0  0  1  0  0  0  1  0  1  1  1  1  1  1  0  1  0  0  0

 Columns 755 through 780:

  0  1  1  0  1  0  1  0  1  1  0  0  1  1  1  1  1  0  1  0  0  0  1  0  1  0

 Columns 781 through 806:

  0  0  0  0  1  1  0  1  1  1  0  1  1  1  1  1  0  1  0  1  0  0  0  1  1  1

 Columns 807 through 832:

  1  0  0  0  0  0  0  0  1  0  1  0  0  0  1  1  1  0  0  1  0  0  1  1  1  0

 Columns 833 through 858:

  0  0  1  0  0  1  1  0  0  0  1  0  0  0  1  0  0  0  0  1  0  1  0  0  0  0

 Columns 859 through 884:

  0  0  0  0  0  1  1  0  1  1  0  1  0  1  0  0  0  0  0  0  1  1  1  1  1  0

 Columns 885 through 910:

  1  1  1  0  1  1  0  1  1  1  1  1  1  0  1  0  1  1  1  0  0  0  1  0  0  1

 Columns 911 through 936:

  0  0  1  0  0  1  1  1  1  0  1  1  1  1  0  0  1  0  1  1  0  1  1  1  1  1

 Columns 937 through 943:

  0  1  0  0  1  0  0

In [9]:
% Somando avaliações
sum(R(1, :))

ans =  452

In [10]:
% Indexando conjuntos para retornar apenas notas avaliadas
Y(1, R(1, :))

ans =

 Columns 1 through 20:

   5   4   4   4   4   3   1   5   4   5   3   5   5   5   3   5   4   5   5   4

 Columns 21 through 40:

   5   2   4   4   5   5   2   2   3   4   3   3   3   4   4   2   4   5   4   4

 Columns 41 through 60:

   4   4   2   5   4   5   4   5   5   4   4   3   3   4   4   4   4   4   4   3

 Columns 61 through 80:

   4   4   5   4   5   3   4   3   4   3   4   4   5   5   4   4   4   5   3   3

 Columns 81 through 100:

   4   3   4   4   5   4   4   4   1   5   3   3   3   2   5   5   2   4   4   4

 Columns 101 through 120:

   5   3   4   3   4   4   4   4   4   4   3   4   4   4   5   5   3   5   3   5

 Columns 121 through 140:

   5   3   3   4   4   5   4   3   4   4   5   3   5   5   4   2   5   4   5   3

 Columns 141 through 160:

   5   3   4   5   5   5   4   4   5   4   5   3   2   5   2   3   4   5   1   4

 Columns 161 through 180:

   3   3   5   5   5   3   3   4   4   4   5   4   3   2   4   4   4   4   4   4

 Columns 181 through 200:

   5   4   5   4   5   3   4   5   4   5   4   2   5   4   4   4   4   4   5   4

 Columns 201 through 220:

   4   3   1   2   3   2   4   5   4   5   3   3   4   3   4   2   4   4   4   2

 Columns 221 through 240:

   1   4   4   5   3   4   5   4   5   4   5   4   5   3   3   3   3   4   4   4

 Columns 241 through 260:

   5   3   5   4   5   3   4   2   5   4   5   5   4   5   3   5   2   3   4   4

 Columns 261 through 280:

   5   4   5   3   3   3   3   4   2   2   3   4   4   5   4   3   4   4   4   3

 Columns 281 through 300:

   3   4   4   4   5   1   4   4   4   5   4   5   3   3   4   4   3   3   4   3

 Columns 301 through 320:

   4   5   5   5   5   3   4   4   2   3   4   3   5   4   4   4   5   4   5   4

 Columns 321 through 340:

   5   3   4   4   4   3   4   5   4   5   4   3   4   4   5   4   5   4   4   3

 Columns 341 through 360:

   5   5   5   3   4   3   4   2   2   4   5   4   4   2   4   5   4   4   3   4

 Columns 361 through 380:

   4   5   1   4   4   5   5   4   5   5   3   4   4   4   4   3   3   3   4   4

 Columns 381 through 400:

   4   4   2   4   4   5   4   4   4   5   4   5   4   4   4   4   4   4   3   5

 Columns 401 through 420:

   4   3   3   4   3   5   1   4   4   5   3   4   4   4   5   3   5   4   5   3

 Columns 421 through 440:

   4   5   5   4   4   4   5   3   5   5   3   5   4   2   4   3   3   4   3   5

 Columns 441 through 452:

   3   5   5   3   3   4   3   2   3   4   4   5

In [11]:
% Verificando se o número de colunas batem
size(Y(1, R(1, :)), 2)

ans =  452

Dos 952 usuários presentes no conjunto de dados, apenas 452 avaliaram Toy Story

In [12]:
% Média de avaliação de Toy Story
mean(Y(1, R(1, :)))

ans =  3.8783

## Carregando Parâmetros

Dentro do pacote de arquivos do exercício, já existe um arquivo ```.mat``` responsável por carregar todos os parâmetros pré-treinados (X, Theta, num_users, num_movies, num_features);

In [13]:
% Carregando parâmetros
load('ex8_movieParams.mat')

In [14]:
% Verificando retorno
dim_x = size(X)
head_x = X(1:5, 1:5)

dim_x =

   1682     10

head_x =

   1.048686  -0.400232   1.194119   0.371128   0.407607
   0.780851  -0.385626   0.521198   0.227355   0.570109
   0.641509  -0.547854  -0.083796  -0.598519  -0.017694
   0.453618  -0.800218   0.680481  -0.081743   0.136601
   0.937538   0.106090   0.361953   0.086646   0.287505

Cada linha ```i``` da matriz X representa os parâmetros do respectivo filme ```i```

In [15]:
% Vejamos a matriz theta
dim_theta = size(Theta)
head_theta = Theta(1:5, 1:5)

dim_theta =

   943    10

head_theta =

   0.285444  -1.684265   0.262939  -0.287317   0.585725
   0.505013  -0.454648   0.317462  -0.115087   0.567704
  -0.431917  -0.478804   0.846711  -0.011731  -0.138578
   0.728598  -0.271894   0.326844  -0.250724  -0.471017
   0.052119  -1.380697   0.637941  -0.231980   0.246337

## Função Custo

Para critérios de teste, o dataset será reduzido.

In [16]:
% Reduzindo dataset
num_users = 4; num_movies = 5; num_features = 3;
X = X(1:num_movies, 1:num_features);
Theta = Theta(1:num_users, 1:num_features);
Y = Y(1:num_movies, 1:num_users);
R = R(1:num_movies, 1:num_users);

Temos apenas 4 usuários e 5 filmes, vamos verificar nossa matriz r(i, j).

In [17]:
R

R =

  1  1  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0

In [18]:
Y

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

In [19]:
% Trazendo apenas filmes avaliados
Y(:, R(1, :))

ans =

   5   4
   3   0
   4   0
   3   0
   3   0

In [20]:
% Outra maneira
sum(Y(:, R(1, :)))

ans =

   18    4

In [21]:
% Testando cálculos
X * Theta'

ans =

   1.287418   1.090653   0.749762   1.263181
   1.009428   0.735125   0.288681   0.844126
   1.083812   0.546449  -0.085715   0.588972
   1.656187   0.808928   0.763394   0.770491
   0.184102   0.540142  -0.149265   0.772545

In [22]:
% Custo
(X * Theta') - Y

ans =

  -3.712582  -2.909347   0.749762   1.263181
  -1.990572   0.735125   0.288681   0.844126
  -2.916188   0.546449  -0.085715   0.588972
  -1.343813   0.808928   0.763394   0.770491
  -2.815898   0.540142  -0.149265   0.772545

In [23]:
% Eliminando filmes não avaliados
((X * Theta') - Y) .* R

ans =

  -3.71258  -2.90935   0.00000   0.00000
  -1.99057   0.00000   0.00000   0.00000
  -2.91619   0.00000  -0.00000   0.00000
  -1.34381   0.00000   0.00000   0.00000
  -2.81590   0.00000  -0.00000   0.00000

In [24]:
% Quadrado
(((X * Theta') - Y) .* R).^2

ans =

   13.78327    8.46430    0.00000    0.00000
    3.96238    0.00000    0.00000    0.00000
    8.50415    0.00000    0.00000    0.00000
    1.80583    0.00000    0.00000    0.00000
    7.92928    0.00000    0.00000    0.00000

In [25]:
% Somando tudo
sum([(((X * Theta') - Y) .* R).^2](:))

ans =  44.449

In [26]:
% Dividindo por 2
sum([(((X * Theta') - Y) .* R).^2](:))/2

ans =  22.225

Custo OK!

## Gradient Descent

In [27]:
% Revendo transformações
num_users = 4; num_movies = 5; num_features = 3;
X = X(1:num_movies, 1:num_features);
Theta = Theta(1:num_users, 1:num_features);
Y = Y(1:num_movies, 1:num_users);
R = R(1:num_movies, 1:num_users);

In [28]:
% Avaliação de filmes
Y

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

In [29]:
% Filmes avaliados
R

R =

  1  1  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0

In [30]:
% Parâmetros por usuário
Theta

Theta =

   0.28544  -1.68427   0.26294
   0.50501  -0.45465   0.31746
  -0.43192  -0.47880   0.84671
   0.72860  -0.27189   0.32684

In [31]:
% Features por filme
X

X =

   1.048686  -0.400232   1.194119
   0.780851  -0.385626   0.521198
   0.641509  -0.547854  -0.083796
   0.453618  -0.800218   0.680481
   0.937538   0.106090   0.361953

Pela matriz de features ```X```, entende-se que cada um dos 5 filmes possui 3 features diferentes.

Como ilustração, estas features poderiam indicar algo como:
    - x_romance;
    - x_ação;
    - x_comédia;

Onde o valor em cada uma das colunas representaria o quão adepto o filme i é ao gênero em questão.

In [32]:
% Realizando um teste para um único filme
x_teste = X(1, :)
theta_teste = Theta(1, :)

x_teste =

   1.04869  -0.40023   1.19412

theta_teste =

   0.28544  -1.68427   0.26294

In [33]:
% Predições
pred_teste = x_teste * theta_teste'

% Avaliação original
Y(1)

pred_teste =  1.2874
ans =  5

Testando matriz de medições

In [34]:
% Matriz
pred = X * Theta'

% Avaliações
Y

pred =

   1.287418   1.090653   0.749762   1.263181
   1.009428   0.735125   0.288681   0.844126
   1.083812   0.546449  -0.085715   0.588972
   1.656187   0.808928   0.763394   0.770491
   0.184102   0.540142  -0.149265   0.772545

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

In [35]:
% Matriz de filmes avaliados
R

% Retornando índices apenas de filmes avaliados
idx = find(R==1)

R =

  1  1  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0

idx =

   1
   2
   3
   4
   5
   6

In [36]:
% Dimensões das matrizes são iguais?
size(pred)
size(Y)

ans =

   5   4

ans =

   5   4

In [37]:
% Subtração
subtract = pred - Y

subtract =

  -3.712582  -2.909347   0.749762   1.263181
  -1.990572   0.735125   0.288681   0.844126
  -2.916188   0.546449  -0.085715   0.588972
  -1.343813   0.808928   0.763394   0.770491
  -2.815898   0.540142  -0.149265   0.772545

In [38]:
% Multiplicando por theta (X_grad)
X_grad_temp = subtract * Theta

X_grad_temp =

  -1.932474   6.873262  -0.852095
   0.293395   2.650692   0.230303
  -0.090297   4.544093  -0.473376
   0.256592   1.320551   0.801668
   0.096344   4.358562  -0.442817

In [39]:
size(X)
size(Theta)

ans =

   5   3

ans =

   4   3

In [40]:
% Multiplicando por X (Theta_grad)
Theta_grad_temp = subtract' * X

Theta_grad_temp =

  -10.5680202    4.6277602   -7.1600444
   -1.2530669   -0.0084597   -2.3907862
    1.1630427   -0.9911601    1.5183969
    3.4354470   -1.6883549    2.7029223

In [41]:
% Indexando apenas filmes avaliados
X_grad = X_grad_temp(idx)
Theta_grad = Theta_grad_temp(idx)

X_grad =

  -1.932474
   0.293395
  -0.090297
   0.256592
   0.096344
   6.873262

Theta_grad =

  -10.5680202
   -1.2530669
    1.1630427
    3.4354470
    4.6277602
   -0.0084597

In [42]:
% Juntando os dois
grad = [X_grad(:); Theta_grad(:)]

grad =

   -1.9324745
    0.2933951
   -0.0902973
    0.2565924
    0.0963440
    6.8732621
  -10.5680202
   -1.2530669
    1.1630427
    3.4354470
    4.6277602
   -0.0084597

In [43]:
% Implementando tudo em uma rotina única
idx = find(R==1);
diff_pred = (X * Theta') - Y;
X_grad = (diff_pred * Theta)(idx);
Theta_grad = (diff_pred' * X)(idx);
grad = [X_grad(:); Theta_grad(:)]

grad =

   -1.9324745
    0.2933951
   -0.0902973
    0.2565924
    0.0963440
    6.8732621
  -10.5680202
   -1.2530669
    1.1630427
    3.4354470
    4.6277602
   -0.0084597

In [44]:
idx = find(R==1);
diff_pred = (X * Theta') - Y;
X_grad = (diff_pred * Theta)(idx);
Theta_grad = (diff_pred' * X)(idx);

In [45]:
X_grad

X_grad =

  -1.932474
   0.293395
  -0.090297
   0.256592
   0.096344
   6.873262

In [46]:
Theta_grad

Theta_grad =

  -10.5680202
   -1.2530669
    1.1630427
    3.4354470
    4.6277602
   -0.0084597

### Gradient Descent 2ª Tentativa

In [47]:
% Revendo matrizes
Y
X
Theta

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

X =

   1.048686  -0.400232   1.194119
   0.780851  -0.385626   0.521198
   0.641509  -0.547854  -0.083796
   0.453618  -0.800218   0.680481
   0.937538   0.106090   0.361953

Theta =

   0.28544  -1.68427   0.26294
   0.50501  -0.45465   0.31746
  -0.43192  -0.47880   0.84671
   0.72860  -0.27189   0.32684

A matriz de features de filmes ```X``` possui dimensões 5x3, já a matriz de parâmetros de usuários ```Theta``` possui dimensões 4x3.

No total, temos 4 usuários e 5 filmes.

In [48]:
Theta'

ans =

   0.28544   0.50501  -0.43192   0.72860
  -1.68427  -0.45465  -0.47880  -0.27189
   0.26294   0.31746   0.84671   0.32684

In [49]:
% Coletando parâmetros e features para o usuário 1 e filme 1
x1 = X(1, :)
theta1 = Theta(1, :)

x1 =

   1.04869  -0.40023   1.19412

theta1 =

   0.28544  -1.68427   0.26294

In [50]:
% Calculando predição e verificando rating
pred = x1 * theta1'
Y(1)

pred =  1.2874
ans =  5

In [51]:
(pred - Y(1))

ans = -3.7126

In [52]:
% Gradiente 1
x_grad_1 = sum((pred - Y(1)) * theta1)

x_grad_1 =  4.2171

In [53]:
((X * Theta') - Y)

ans =

  -3.712582  -2.909347   0.749762   1.263181
  -1.990572   0.735125   0.288681   0.844126
  -2.916188   0.546449  -0.085715   0.588972
  -1.343813   0.808928   0.763394   0.770491
  -2.815898   0.540142  -0.149265   0.772545

In [54]:
(X * Theta') - Y

ans =

  -3.712582  -2.909347   0.749762   1.263181
  -1.990572   0.735125   0.288681   0.844126
  -2.916188   0.546449  -0.085715   0.588972
  -1.343813   0.808928   0.763394   0.770491
  -2.815898   0.540142  -0.149265   0.772545

In [55]:
Y
(X * Theta')

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

ans =

   1.287418   1.090653   0.749762   1.263181
   1.009428   0.735125   0.288681   0.844126
   1.083812   0.546449  -0.085715   0.588972
   1.656187   0.808928   0.763394   0.770491
   0.184102   0.540142  -0.149265   0.772545

In [56]:
% Usuários que avaliaram filme 1
Y
idx_1 = find(R(1, :) == 1)

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

idx_1 =

   1   2

In [57]:
% Matrizes temporárias considerando avaliações
theta_temp_1 = Theta(idx, :)

error: Theta(6,_): but Theta has size 4x3

In [58]:
y_temp = Y(1, idx)

error: Y(_,6): but Y has size 5x4

In [59]:
x_grad_1 = ((X(1, :) * theta_temp_1') - y_temp) * theta_temp_1

error: 'theta_temp_1' undefined near line 1 column 24

### Gradient Descent 3ª Tentativa

In [60]:
% Verificando parâmetros
num_users = 4; num_movies = 5; num_features = 3;
X = X(1:num_movies, 1:num_features);
Theta = Theta(1:num_users, 1:num_features);
Y = Y(1:num_movies, 1:num_users);
R = R(1:num_movies, 1:num_users);

In [62]:
X
Theta
Y

X =

   1.048686  -0.400232   1.194119
   0.780851  -0.385626   0.521198
   0.641509  -0.547854  -0.083796
   0.453618  -0.800218   0.680481
   0.937538   0.106090   0.361953

Theta =

   0.28544  -1.68427   0.26294
   0.50501  -0.45465   0.31746
  -0.43192  -0.47880   0.84671
   0.72860  -0.27189   0.32684

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

Temos então 5 filmes avaliados (ou não) por 4 usuários!

In [63]:
% Montando matriz de gradientes X
X_grad = zeros(num_movies, 1)

X_grad =

   0
   0
   0
   0
   0

In [67]:
% Testando para o filme 1 e usuário 1 (i=1; j=1)
x = X(1, :)
theta = Theta(1, :)
y = Y(1, 1)

x =

   1.04869  -0.40023   1.19412

theta =

   0.28544  -1.68427   0.26294

y =  5

In [71]:
% Calculando gradiente (I)
sum(((x * theta') - y) * theta)

ans =  4.2171

In [74]:
% Testando vetorização (de acordo com pdf)
R
Y

% Retornando somente avaliações do filme 1
idx = find(R(1, :)==1)

R =

  1  1  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0
  1  0  0  0

Y =

   5   4   0   0
   3   0   0   0
   4   0   0   0
   3   0   0   0
   3   0   0   0

idx =

   1   2

In [81]:
% Calculando gradiente (II)
theta_temp = Theta(idx, :)
y_temp = Y(1, idx)
x_temp = X(1, :)

x_grad_temp = ((x_temp * theta_temp') - y_temp) * theta_temp
x_grad = sum(x_grad_temp)
X_grad(1, :) = x_grad

theta_temp =

   0.28544  -1.68427   0.26294
   0.50501  -0.45465   0.31746

y_temp =

   5   4

x_temp =

   1.04869  -0.40023   1.19412

x_grad_temp =

  -2.5290   7.5757  -1.8998

x_grad =  3.1469
X_grad =

   3.14692
   0.00000
   0.00000
   0.00000
   0.00000

In [86]:
% Testando for-loop para todos os usuários
for i = 1:num_movies
    idx = find(R(i, :)==1);
    theta_temp = Theta(idx, :);
    y_temp = Y(i, idx);
    x_temp = X(i, :);

    x_grad_temp = ((x_temp * theta_temp') - y_temp) * theta_temp;
    x_grad = sum(x_grad_temp);
    X_grad(i, :) = x_grad;
endfor

In [87]:
X_grad

X_grad =

   3.1469
   2.2611
   3.3124
   1.5264
   3.1985

In [89]:
% Realizando processo semelhante para features theta
Theta_grad = zeros(num_users, 1);
for i = 1:num_users
    idx = find(R(i, :)==1);
    theta_temp = Theta(idx, :);
    y_temp = Y(i, idx);
    x_temp = X(i, :);

    theta_grad_temp = ((x_temp * theta_temp') - y_temp)' * x_temp;
    theta_grad = sum(theta_grad_temp);
    Theta_grad(i, :) = x_grad;
endfor

In [90]:
Theta_grad

Theta_grad =

   3.1985
   3.1985
   3.1985
   3.1985

In [111]:
% Calculando gradiente (III)
idx = find(R(:, 1)==1);
theta_temp = Theta(1, :);
y_temp = Y(idx, 1);
x_temp = X(idx, :);

theta_grad = sum(((x_temp * theta_temp') - y_temp)' * x_temp)

idx = find(R(:, 2)==1);
theta_temp = Theta(2, :);
y_temp = Y(idx, 2);
x_temp = X(idx, :);

theta_grad = sum(((x_temp * theta_temp') - y_temp)' * x_temp)

theta_grad = -13.100
theta_grad = -5.3607

In [114]:
% Testando for-loop para todos os usuários
for i = 1:num_users
    idx = find(R(:, i)==1);
    theta_temp = Theta(i, :);
    y_temp = Y(idx, i);
    x_temp = X(idx, :);

    theta_grad_temp = ((x_temp * theta_temp') - y_temp)' * x_temp;
    theta_grad = sum(theta_grad_temp);
    Theta_grad(i, :) = theta_grad;
endfor

In [115]:
Theta_grad

Theta_grad =

  -13.10030
   -5.36068
    0.00000
    0.00000

### Gradient Descent 4ª Tentativa

In [116]:
% Carregando parâmetros
num_users = 4; num_movies = 5; num_features = 3;
X = X(1:num_movies, 1:num_features);
Theta = Theta(1:num_users, 1:num_features);
Y = Y(1:num_movies, 1:num_users);
R = R(1:num_movies, 1:num_users);

In [119]:
% Formato totalmente vetorizado
H = X * Theta'
pred = (H - Y)
aval = pred .* R

H =

   1.287418   1.090653   0.749762   1.263181
   1.009428   0.735125   0.288681   0.844126
   1.083812   0.546449  -0.085715   0.588972
   1.656187   0.808928   0.763394   0.770491
   0.184102   0.540142  -0.149265   0.772545

pred =

  -3.712582  -2.909347   0.749762   1.263181
  -1.990572   0.735125   0.288681   0.844126
  -2.916188   0.546449  -0.085715   0.588972
  -1.343813   0.808928   0.763394   0.770491
  -2.815898   0.540142  -0.149265   0.772545

aval =

  -3.71258  -2.90935   0.00000   0.00000
  -1.99057   0.00000   0.00000   0.00000
  -2.91619   0.00000  -0.00000   0.00000
  -1.34381   0.00000   0.00000   0.00000
  -2.81590   0.00000  -0.00000   0.00000

In [124]:
% Gradiente X_grad
H = X * Theta';
X_grad = ((H - Y).*R) * Theta

% Gradiente Theta_Grad
Theta_grad = ((H - Y).*R)' * X

X_grad =

  -2.52899   7.57570  -1.89979
  -0.56820   3.35265  -0.52340
  -0.83241   4.91163  -0.76678
  -0.38358   2.26334  -0.35334
  -0.80378   4.74272  -0.74041

Theta_grad =

  -10.56802    4.62776   -7.16004
   -3.05099    1.16441   -3.47411
    0.00000    0.00000    0.00000
    0.00000    0.00000    0.00000

In [128]:
sum(sum(Theta.^2))

ans =  5.3942

## Regularização

In [131]:
% Implementação completa
% Gradiente X_grad
lambda = 0;
H = X * Theta';
X_grad = (((H - Y).*R) * Theta) + lambda*X;

% Gradiente Theta_Grad
Theta_grad = (((H - Y).*R)' * X) + lambda*Theta;


% =============================================================

grad = [X_grad(:); Theta_grad(:)];

In [132]:
grad

grad =

   -2.52899
   -0.56820
   -0.83241
   -0.38358
   -0.80378
    7.57570
    3.35265
    4.91163
    2.26334
    4.74272
   -1.89979
   -0.52340
   -0.76678
   -0.35334
   -0.74041
  -10.56802
   -3.05099
    0.00000
    0.00000
    4.62776
    1.16441
    0.00000
    0.00000
   -7.16004
   -3.47411
    0.00000
    0.00000