# Tirando conclusões
Use o espaço abaixo para resolver questões sobre os conjuntos de dados `clean_08.csv` e `clean_18.csv`

In [0]:
# carregue os conjuntos de dados
import pandas as pd

df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

### Q1: Existem mais modelos únicos usando fontes alternativas de combustível? Em qual proporção?

In [0]:
df_08['fuel'].unique()

array(['Gasoline', 'CNG', 'ethanol', 'gas'], dtype=object)

In [0]:
fuel_08 = df_08['fuel'].unique()
fuel_18 = df_18['fuel'].unique()

In [0]:
def calc_fuel_prop(df):
    
    fuels = df['fuel'].unique()
    for fuel in fuels:
        total = df.shape[0]
        print('Combustível: {0} Quantidade: {1}'.format(
                fuel, df.query("fuel == @fuel")['fuel'].count()/total))

print("08")
calc_fuel_prop(df_08)
print("18")
calc_fuel_prop(df_18)

08
Combustível: Gasoline Quantidade: 0.9969604863221885
Combustível: CNG Quantidade: 0.0010131712259371835
Combustível: ethanol Quantidade: 0.0010131712259371835
Combustível: gas Quantidade: 0.0010131712259371835
18
Combustível: Gasoline Quantidade: 0.9002403846153846
Combustível: Diesel Quantidade: 0.02283653846153846
Combustível: Ethanol Quantidade: 0.03125
Combustível: Electricity Quantidade: 0.014423076923076924
Combustível: Gas Quantidade: 0.03125

### Q2: Qual foi o nível de melhoria das classes de veículo no quesito "economia de combustível"?

In [0]:
def calc_veh_fuel(df1, df2):
    
    classes = df2['veh_class'].unique()
    for v_class in classes:
        print('Classe: {0} Variação: {1}'.format(
                v_class, df1.query("veh_class == @v_class")['veh_class'].count()/
                         df2.query("veh_class == @v_class")['veh_class'].count()))

calc_veh_fuel(df_08, df_18)

Classe: small SUV Variação: 0.0
Classe: small car Variação: 1.168421052631579
Classe: midsize car Variação: 1.0
Classe: large car Variação: 0.625
Classe: standard SUV Variação: 0.0
Classe: station wagon Variação: 1.7647058823529411
Classe: pickup Variação: 1.064102564102564
Classe: special purpose Variação: 0.0
Classe: minivan Variação: 3.4

### Q3: Quais são as características dos veículos SmartWay? Elas mudaram com o tempo?

In [0]:
df_08.groupby("smartway").describe()

         air_pollution_score                                               \
                       count      mean       std  min  25%  50%  75%  max
smartway
no                     607.0  6.293245  0.551479  4.0  6.0  6.0  7.0  9.5
yes                    380.0  7.365789  1.148195  6.0  7.0  7.0  7.0  9.5

         city_mpg             ...  greenhouse_gas_score       hwy_mpg  \
            count       mean  ...                   75%   max   count
smartway                      ...
no          607.0  15.133443  ...                   5.0   7.0   607.0
yes         380.0  20.984211  ...                   7.0  10.0   380.0


               mean       std   min   25%   50%   75%   max
smartway
no        21.299835  3.366852  13.0  19.0  21.0  24.0  28.0
yes       28.413158  3.075194  22.0  26.0  28.0  30.0  45.0

[2 rows x 56 columns]

In [0]:
df_18.groupby("smartway").describe()

         air_pollution_score                                               \
                       count      mean       std  min  25%  50%  75%  max
smartway
Elite                   17.0  7.000000  0.000000  7.0  7.0  7.0  7.0  7.0
No                     724.0  3.798343  1.746982  1.0  3.0  3.0  5.0  7.0
Yes                     91.0  4.879121  1.769087  3.0  3.0  5.0  7.0  7.0

         city_mpg             ...  greenhouse_gas_score       hwy_mpg  \
            count       mean  ...                   75%   max   count
smartway                      ...
Elite        17.0  53.235294  ...                  10.0  10.0    17.0
No          724.0  19.325967  ...                   5.0  10.0   724.0
Yes          91.0  31.483516  ...                   8.0  10.0    91.0


               mean        std   min   25%   50%   75%   max
smartway
Elite     53.117647  21.854297  28.0  33.0  47.0  68.0  99.0
No        26.708564   5.073390  12.0  23.0  27.0  30.0  61.0
Yes       39.296703   9.410980  27.0  36.0  37.0  40.0  99.0

[3 rows x 56 columns]

### Q4: Quais características estão associadas à uma maior economia de combustível?

In [0]:
df_08.corr()

,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score
displ,1.000000,0.899304,-0.289993,-0.790440,-0.801678,-0.818799,-0.847613
cyl,0.899304,1.000000,-0.270417,-0.756304,-0.733064,-0.770538,-0.820940
air_pollution_score,-0.289993,-0.270417,1.000000,0.432434,0.400708,0.425784,0.388444
city_mpg,-0.790440,-0.756304,0.432434,1.000000,0.902942,0.980891,0.910693
hwy_mpg,-0.801678,-0.733064,0.400708,0.902942,1.000000,0.960533,0.931744
cmb_mpg,-0.818799,-0.770538,0.425784,0.980891,0.960533,1.000000,0.947607
greenhouse_gas_score,-0.847613,-0.820940,0.388444,0.910693,0.931744,0.947607,1.000000

In [0]:
df_18.corr()

,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score
displ,1.000000,0.928189,-0.384986,-0.536748,-0.605202,-0.574880,-0.754193
cyl,0.928189,1.000000,-0.404966,-0.524090,-0.589986,-0.561166,-0.743946
air_pollution_score,-0.384986,-0.404966,1.000000,0.288700,0.309338,0.301150,0.390771
city_mpg,-0.536748,-0.524090,0.288700,1.000000,0.950309,0.992635,0.785513
hwy_mpg,-0.605202,-0.589986,0.309338,0.950309,1.000000,0.978206,0.826981
cmb_mpg,-0.574880,-0.561166,0.301150,0.992635,0.978206,1.000000,0.814982
greenhouse_gas_score,-0.754193,-0.743946,0.390771,0.785513,0.826981,0.814982,1.000000