# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

Documentação SQLite: http://www.sqlite.org/docs.html

### Acessando Banco de Dados com Python

In [1]:
# Remove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

# Caso queira manter os dados... NÃO EXECUTAR ESTA LINHA
# Comando para começar o trabalho do ZERO

In [2]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [3]:
# Cria uma conexão com o banco de dados. 
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

# Entre parêntes, há o nome do Banco de Dados
# Observação: se nada for específicado junto ao nome, o SQLite cria o BD no mesmo
# diretório onde foi executado o jupyter notebook.

# Caso queira especificar o caminho, mudar o parâmetro para C://....

In [4]:
type(con)

sqlite3.Connection

In [5]:
# Criando um cursor 
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

# Método cursor() oriundo do objeto connect (con) do sqlite3

In [7]:
type(cur)

sqlite3.Cursor

In [8]:
# Cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

# Lembrando que a barra invertida "\" serve para "quebrar" o comando Python

In [9]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

# Função execute do objeto cursos (parâmetro: query)

In [10]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [11]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [17]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Parâmetros execute (sql_insert = query, rec = tupla dentro de recset)

IntegrityError: UNIQUE constraint failed: cursos.id

In [13]:
# Grava a transação
con.commit()

In [18]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [19]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [20]:
# Mostra
for linha in dados:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [21]:
# Gerando outros registros
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a transação
con.commit()

In [22]:
# Seleciona todos os registros
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [23]:
# Fecha a conexão
con.close()

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>